@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>WoodForSheep</h3>
<p>WoodForSheep is a work-in-progress board game library curation and trading app created by <a href="https://github.com/ryanawalker">Ryan Walker</a>. The app runs on .NET Core MVC, written in C#, and utilizes the Entity Framework Core database management system.</p>