@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="jumbotron">
    <h1>Welcome to WoodForSheep!</h1>
    <p>A community focused on board game library management and easy game trading between users.</p>
    <p><a class="btn btn-primary btn-lg" asp-action="Register" asp-controller="Account" role="button">Create an Account</a> | <a class="btn btn-primary btn-lg" asp-controller="Games" asp-action="Index" role="button">Learn more</a></p>
</div>
